# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_ENV_SENS_BOARD
	bool "Environmental Sensor Board"
	help
	  This is the configuration for the Environmental Sensor Board from Awesometronics.
	select SOC_NRF52832_QFAA
